@import "scssTool.scss";
//清除样式
@include initializePage;

.clearfloat{
    @include clearfloat;
}
/* --------- header ---------- */
.header{
    width: 100%;
    height: 70px;
    >a{
        float: left;
        width: 70px;
        height: 70px;
        >img{
            width: 100%;
            height: 100%;
        }
    }
    >h3{
        float: left;
        margin-left: 32px;
        font-size: 28px;
        line-height: 70px;
        font-weight: normal;
    }
}

/* --------- content ---------- */
.content{
    // position: relative;
    width: 100%;
    >.wrap{
        width: 100%;
        min-height: 500px;
        margin-top: 12px;
        margin-bottom: 25px;
        background: url(../images/register/bg-center.jpg) no-repeat center center;
        .content-layout{
            position: relative;
            width: 1200px;
            margin-left: auto;
            margin-right: auto;
            form{
                position: absolute;
                background: #ffffff;
                top: 46px;
                right: 0;
                width: 400px;
                height: 440px;
                >.wrap{
                    width: 280px;
                    height: 396px;
                    padding: 35px 60px;
                    padding-bottom: 10px;
                    ::placeholder{
                        color: #d2d2d2;
                    }
                    >h3{
                        color: #000000;
                        font-size: 20px;
                        font-weight: bold; 
                    }
                    >input{
                        margin-top: 35px;
                        width: calc(100% - 15px);
                        height: 34px;
                        line-height: 34px;
                        outline: none;
                        padding-left: 15px;
                        font-size: 14px;
                        color: #A5A5A5;
                        border: 1px solid #ccc;
                        margin-bottom: 20px;
                    }
                    .verti-code{
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        color: #666;
                        font-size: 100%;
                        >input{
                            width: 85px;
                            height: 34px;
                            line-height: 34px;
                            outline: none;
                            padding-left: 15px;
                            font-size: 14px;
                            color: #A5A5A5;
                            border: 1px solid #ccc;
                        }
                        >.img-wrap{
                            width: 60px;
                            height: 16px;
                            margin: 0 2px;
                            background-color: #000000;
                        }
                        >p{
                            margin-left: 3px;
                            font-size: 12px;
                            line-height: 34px;
                            color: #d2d2d2;
                            cursor: pointer;
                        }
                    }
                    .text-verti-code{
                        // display: flex;
                        margin-bottom: 20px;
                        >input{
                            float: left;
                            width: 115px;
                            height: 34px;
                            line-height: 34px;
                            outline: none;
                            padding-left: 15px;
                            font-size: 14px;
                            color: #A5A5A5;
                            border: 1px solid #ccc;
                        }
                        >p{
                            width: 134px;
                            height: 34px;
                            border: 1px solid #ff0000;
                            margin-left: 6px;
                            background: #ffffff;
                            color: #ff0000;
                            outline: none;
                            line-height: 34px;
                            text-align: center;
                            float: right;
                            font-size: 14px;
                        }
                    }
                    >div:nth-of-type(3){
                        display: flex;
                        align-items: center;
                        >input{
                            margin-right: 3px;
                        }
                        >a{
                            font-size: 12px;
                            color: #337ab7;
                        }
                    }
                    >button{
                        margin-top: 30px;
                        margin-bottom: 40px;
                        width: 100%;
                        height: 36px;
                        background: #fd0000;
                        color: #ffffff;
                        border: none;
                        outline: none;
                        cursor: pointer;
                    }
                    >div:nth-of-type(4){
                        border: none;
                        font-size: 14px;
                        margin-right: 0;
                        a{
                            padding: 10px 19px;
                            color: #000000;
                        }
                        a:nth-child(1){
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
}
/* --------- footer ---------- */
footer{
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    height: 43px;
    line-height: 43px;
    background: #000000;
    text-align: center;
    color: #707070;
    position: fixed;
    bottom: 0;
    line-height: 10px;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px 0;
}